@model List<Programa>

<div class="d-flex flex-column">
    
    <div class="text-center mt-5">
        <h1 class="display-5">Atualizador Genérico</h1>
        <div class="d-flex flex-row gap-3 text-center">
            <p>Api Status: <strong>ON</strong></p>
            <p>Quantidade de Programas: <strong>@Model.Count</strong></p>
        </div>
    </div>


    @* <div class="d-flex flex-column p-2 bg-dark gap-2">
        <input class="form-group w-100 bg-light" type="text" id="txtBusca" placeholder="Encontrar Programas" />
     </div> *@
     @ViewBag.Title
    <div class="container mt-5">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr class="text-center">
                    <th>Nome do Programa</th>
                    <th>Versão Atual</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var programa in Model)
                {
                    <tr class="text-center">
                        <td class="w-75 text-start">@programa.AppName</td>
                        <td>@programa.Version</td>
                        <td>
                            <a href="~/Download/@programa.AppKeyName" class="btn btn-success" style="text-decoration:none">Baixar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>